footer {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

footer ul {
    list-style: none;
    margin:0;
    padding:0;
}

footer>div {
    padding:1rem;
}

.logo-footer {
    align-self: center;
}