header {
    display:flex;
    width: 100%;
    justify-content: center;
}

header ul {
    display:flex;
    list-style: none;
}

header li {
    padding: 1rem;
}
header li a {
    text-decoration: none;
}